@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0 auto;
	padding:0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/bg.jpeg.jpg) repeat;
}

h3 {
	font-size:24px;
}

h5 {
	font-size:18px;
}


p {
	font-size: 12px;
	color: #FFF;
}

img {
	border:none;
}


#container {
	background-color: #FFF;
	border: 1px solid #ebebeb;
	text-align: center;
	width: 970px;
	margin: 0 auto;
}

#landing-page {
	margin-top:150px;
}


#landing-page .landing-box-step h5 {
	margin:0px;
	float:left;
	color:#000;
	padding-left:180px;
	padding-top:60px;
}

#landing-page .landing-box-step h6 {
	margin-top:110px;
	margin-left:-120px;
	float:left;
	color:#000;
}


#landing-page .landing-box {
	margin-top:190px;
}



#landing-page .faq {
	float:left;
	position:absolute;
	clear:both;
	margin-top:15px;
	margin-left:120px;
	top: 772px;
	display:block;
}

#landing-page .faq img {
	border:none;
}

#header_title img {
	border: none;
}

#logo-singapore {
	margin-top:-80px;
	padding-right:10px;
	float: right;
}

.clickhere {
	float:right;
	padding-right:135px;
	position: relative;
	margin-top:-250px;
}

#top-bg {
	background: url(../images/bg.jpg) repeat-x;
	height: 93px;
}

#logo {
	width: 250px;
	height: 76px;
	outline: 0px;
	margin:-90px auto;
	padding-left: 10px;
}


/*************** SCORE BOARD *****************/

#scoreboard {
	background: url(../images/board_scrore.png) no-repeat;
	width:900px;
	height:321px;
	margin:0 auto;
}


.wrapper {
	padding:40px 0 0 100px;
	width:650px;
	height:280px;
	text-align: center;
	margin:10px auto;
}
	
.wrapper-board {
	text-align:center;
	background: url(../images/score.png) no-repeat;
	float:left;
	width:150px;
	height:155px;
	margin-top:25px;
	padding-top:50px;
	padding-right:50px;
}

.wrapper-board p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000;
	padding-top:25px;
}

.btm-txt {
	background: url(../images/bg_point_new.png) no-repeat;
	width:150px;
	height:31px;
	margin-top:65px;
	margin-left:0px;
	position: absolute;
}

.btm-txt-2 {
	margin:80px auto;
	position: relative;
}

.btm-txt-2 {
	font-size:20px;
}


.btm-txt h2 {
	padding-top:3px;
	color:#ffcc33;
	font-size:12px;
	margin-top:-5px;
	line-height:2;
}

.guest {
	width:800px;
	margin:0 auto;
	padding-top:50px;
	padding-left:150px;
	padding-bottom:100px;
}

.photo {
	/*background: url(../images/avatar.jpg) no-repeat;*/
	width:80px;
	/*height:80px;*/
	float:left;
	border-radius:10px;
	border:1px solid #eee;
}

.insert p{
	padding-left:35px;
	padding-top:50px;
	font-size:18px;
	float:left;
	color:#000;
}

.top-title {
	margin:0 auto;
	padding-bottom:20px;
	width:800px;
	border-bottom:1px dashed #ccc;
}

.top-title img {
	border:0;
}
	
	
	
	
	
/*************** END OF SCORE BOARD *****************/






/*************** SCORE BUTTON***************/


#lihatskor {
	margin-top:-100px;
}


input[type="button"] {
	margin: auto;
    border: none;
    background: url(../images/button-skor.png) no-repeat;
    width:460px;
    height:60px;
    cursor: pointer;
    font-size:28px;
    color:#ffffff;
	text-shadow: 1px 1px #137206;
}


input[type="button"]:hover {
		margin: auto;
        background: url(../images/button-skor-hover.png) no-repeat;
        border: none;
        width:460px;
        height:60px;
    }

input a:hover {
    text-decoration: none;
}

/*************** END SCORE BUTTON***************/





/***************  MAIN CONTENT ***************/

#main {
	margin:0px  auto;
	background:url(../images/board_new.png) no-repeat center center;
	width:900px;
	height:517px;
	padding:0px;
}

.maincontent {
	overflow:auto;
	width:600px;
	height:350px;
	margin:0 auto;
	padding:10px;
}

.numbering h4{
	width:50px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:16px;
	padding-left:15px;
	margin-top:10px;
	float:left;
	clear:both;
}

.follow {
	width:382px;
	height:45px;
	margin:0 auto;
	padding-top:80px;
}

.sosmed {
	margin-top:11px;
	float:left;
}

.sosmed p{
	font-weight:bold;
	font-size:14px;
	text-align: left;
	color:#000;
}

.sosmed img {
	margin-top:-20px;
	margin-left:10px;
	float:right;
}

.like, .share {
	float: left;
	margin-top:5px;
	padding-left:10px;
}

.end-ctn p{
	font-size:14px;
	font-weight:bold;
	margin-top:30px;
	margin-left:50px;
	float:left;
	color:#000;
}

.point p {
	font-family:Arial, Helvetica, sans-serif;
	color:#563933;
	font-size:20px;
}

.txt {
	width:100%;
	float:left;
}

.txt p{
	padding-top:50px;
	font-size:12px;
	color:#ff9900;
	text-shadow: 0.1em 0.1em #00;
}

.split h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	float:left;
	margin-top:-25px;
	margin-left:8px;
}

.form-wrapper {
	padding:0px;
	width:500px;
	margin-left:60px;
}

.form-wrapper input[type=email] {
	margin-left:10px;
}


.form-wrapper input[type=text], input[type=email] {
	display:block;
	  float:left;
	  padding: 0 10px;
	  width:150px;
	  height: 34px;
	  color: #404040;
	  background: white;
	  border: 1px solid;
	  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	  border-radius:5px;
	  -moz-outline-radius: 3px;
	  box-shadow: 1px 1px 5px #ccc;
}


.form-wrapper input[type=submit] {
	  height:38px;
	  width:75px;
	  font-size: 12px;
	  color: #fff;
	  background: #ffcc33;
	  border: 1px solid;
	  border-color:#eee;
	  border-radius:5px;
	  outline: 0;
	  float: right;
	  margin-right:30px;
  	  box-shadow: 1px 1px 5px #ccc;
}

.form-wrapper input[type=submit]:hover {
  background: #ff9900;
}


.form-wrapper input[type=text], .landing-box-step input[type=email] {
	display: inline;
  	width:175px;
}

.text-bottom {
	margin-top:0px;
}

.text-bottom p{
	line-height:1.5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	padding:20px;
}

.text-bottom a {
	text-decoration:none;
}


/*************** END OF MAIN***************/


#footer {
	padding: 10px;
	display: block;
	clear: right;
	margin-top:120px;
	margin-bottom: 10px;
}

#footer P {
	color: #000;
}



