@charset "utf-8";
/* CSS Document */


body {
	margin: 0 auto;
	padding:0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/bg.jpeg.jpg) repeat;
}

#container {
	background-color: #FFF;
	border: 1px solid #ebebeb;
	text-align: center;
	width: 970px;
	margin: 0 auto;
}

#logo-singapore {
	margin-top:-80px;
	padding-right:10px;
	float: right;
}


/*************** SEARCH FORM ***************/

.form-wrapper {
        width:750px;
        margin:30px auto;
    }
    
.form-wrapper input {
		margin: 0 auto;
        width:600px;
        height: 30px;
        padding:10px 20px;
        float: left;    
        border: 0;
        background: #E8F3E2;
        -moz-border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;
}
    
.form-wrapper input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 1px #CCC;
}
    
.form-wrapper input::-webkit-input-placeholder {
       color: #E6E6E6;
       font-weight: normal;
}
    
.form-wrapper input:-moz-placeholder {
        color: #E6E6E6;
        font-weight: normal;
}
    
.form-wrapper input:-ms-input-placeholder {
        color: #E6E6E6;
        font-weight: normal;
}    
    
.form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
		width:85px;
		height:51px;
        color: #fff;
        text-transform: uppercase;
        background: url(../images/search.png) no-repeat;
        -moz-border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        border-radius: 0 10px 10px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
		top:-51px;
		margin-right:30px;
    }   
      
.form-wrapper button:hover{		
        background: url(../images/search_hover.png) no-repeat;
		width:85px;
		height:51px;
}	
      
.form-wrapper button:active,.form-wrapper button:focus{   
        background: #333;    
}
        
.form-wrapper button:hover:before{
        border-right-color: #333;
}
    
.form-wrapper button:focus:before{
        border-right-color: #999;
}    
    
.form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
}


/*************** END OF SEARCH FORM ***************/


#header_title img {
	border: none;
}


#top-bg {
	background: url(../images/bg.jpg) repeat-x;
	height: 93px;
}

#logo {
	width: 250px;
	height: 76px;
	float: left;
	outline: 0px;
	margin-top: -90px;
	padding-left: 10px;
}

#logo img {
	border:none;
}

/*************** LOGIN ***************/

#login_now {
	margin:0 auto;
}


#login_now input[type="button"] {
	margin: auto;
    border: none;
    background: url(../images/daftar_button.png) no-repeat;
    width:172px;
    height:48px;
    cursor: pointer;
    font-size:20px;
    color:#663300;
	font-weight:bold;
	text-shadow: 1px 1px #ffffff;
}

#login_now input[type="button"]:hover {
		margin: auto;
        background: url(../images/daftar_button_hover.png) no-repeat;
        border: none;
        width:172px;
        height:48px;
    }


/*************** END OF LOGIN ***************/


/*************** SCORE BOARD ***************/

.wrap-table1{
	background: url(../images/skor_board.png) no-repeat;
	width:650px;
	height:850px;
	font-size: 12px;
	margin:-20px auto;
}

.wrap-table1 img{
	border:none;
}

.skor-sementara tr td, a{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	padding: 9px 1px;
}

.skor-sementara tr td{
	border-bottom: 1px solid #fff;
}

table {
	line-height:15px;
    border-spacing: 0;
}


.point1_{
	margin: auto;
	display: block;
	width: 105px;
	background-color:#F90;
	padding: 0px;
	-webkit-box-shadow: 0px 1px 1px #d98303;
	-moz-box-shadow:0px 1px 1px #d98303;
	box-shadow:0px 1px 1px #d98303;
}

.point2_{ 
	margin: auto;
	display: block;
	width:105px;
	background-color:#F90;
	padding: 0px;
	-webkit-box-shadow: 0px 1px 1px #d98303;
	-moz-box-shadow:0px 1px 1px #d98303;
	box-shadow:0px 1px 1px #d98303;
}

/*************** END SCORE BOARD ***************/




/*************** SCORE BUTTON***************/



#lihatskor {
	margin-top:-10px;
}


input[type="button"] {
	margin: auto;
    border: none;
    background: url(../images/button-skor.png) no-repeat;
    width:460px;
    height:60px;
    cursor: pointer;
    font-size:28px;
    color:#ffffff;
	text-shadow: 1px 1px #137206;
}


input[type="button"]:hover {
		margin: auto;
        background: url(../images/button-skor-hover.png) no-repeat;
        border: none;
        width:460px;
        height:60px;
    }

input a:hover {
    text-decoration: none;
}

/*************** END SCORE BUTTON***************/


	
.title-block-header {
	line-height:1.5;
	text-align: center;
	display:block;
	clear:both;
	font-weight: bold; 
	text-align: center;
}
	
/*************** PAGINATION ***************/


.pagination ul>li>a {
	color: #ff6600; 
}

.pagination ul>li>a:hover { 
	color: #ff6600; 
}

.pagination{
	margin-top:25px;
	margin-right:25px;
	margin-left:-25px;
	margin-bottom:25px;
}

.pagination ul{
	display:inline-block;
	*display:inline;
	margin-bottom:0;
	margin-left:0;
	-moz-border-radius:4px;border-radius:4px;*zoom:1;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);
}
	
.pagination ul>li{
	display:inline
}
.pagination ul>li>a,.pagination ul>li>span{
	float:left;
	padding:4px 12px;
	line-height:20px;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	border-left-width:0
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{
	background-color:#f5f5f5;
}
.pagination ul>.active>a,.pagination ul>.active>span{
	color:#090;cursor:default;
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{
	color:#090;
	cursor:default;
	background-color:transparent
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width:1px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-topleft:4px
}

.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px
}

.pagination-centered {
	text-align:center
}

.pagination-right {
	text-align:right
}
.pagination-large ul>li>a,.pagination-large ul>li>span {
	padding:11px 19px;
	font-size:17.5px;
}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span {
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-topleft:6px
}

.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span {
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
}

.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span {
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topleft:3px
}

.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px
}
	
.pagination-small ul>li>a,.pagination-small ul>li>span {
	padding:2px 10px;font-size:11.9px
}

.pagination-mini ul>li>a,.pagination-mini ul>li>span {
	padding:0 6px;font-size:10.5px
}

/*************** END OF PAGINATION ***************/


.campaign {
	margin-top:50px;
}

.campaign span {
	font-size:14px;
}


/*************** FOOTER ***************/

#footer {
	padding: 10px;
	display: block;
	clear: right;
	margin-top:50px;
	margin-bottom: 10px;
}

#footer P {
	color: #000;
}

/*************** END OF FOOTER ***************/

#FAQ {
	margin-top: 10px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 2.5;
}

#FAQ .FAQ {
	padding:20px;
}

#FAQ .list {
	padding-left: 45px;
	padding-right: 25px;
}

#FAQ .list-general li{
	list-style: none;
	padding-left: 0px;
	padding-right: 25px;
	margin-left: 50px;
}

.general-FAQ h3 {
	font-size: 16px;
	color: #54B948;
	padding-left: 30px;
	padding-top: 30px;
}


#FAQ h3  {
	font-size: 16px;
	color: #54B948;
}

#FAQ ol {
	list-style: decimal;
}

#FAQ ul li{
	margin-left:-20px;
	list-style:none;
}

